@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  /* TEXT COLORS */
  --white-txt: #ffffff;
  --black-txt: #000000;
  --green-txt: #4f8235;

  /* BACKGROUND COLORS */
  --orange-bg: #f5a22b;
  --green-light-bg: #d1f1ab;
  --green-circle-bg: #a1ca6b;
  --orange-circle-bg: #db8c44;
  --orange-light-bg: #ffe9c9;
  --lettuce-green-bg: #dcf5bd;
  --green-btn-bg: #8adb62;
  --white-btn-bg: #ffffff;
  --accent-cl: #aa43a2;
  --secondary-accent-cl: #fec830;
  --black-secondary: #202020;
  --purple-light-color: #f9f0f8;

  /* BORDER */
  --radius-66: 66px;
  --radius-50: 50%;
  --radius-41: 41px;
  --radius-26: 26px;
  --radius-33: 33px;
  --radius-22: 22px;
  --radius-20: 20px;
  --radius-18: 18px;
  --radius-15: 15px;
  --radius-13: 13px;

  /* SHADOW */
  --black-shadow-7: 0px 10px 20px rgba(0, 0, 0, 0.07);
  --black-shadow-25: 0px 4px 10px rgba(0, 0, 0, 0.25);

  --shadow-header: 0px 1px 3px rgba(0, 0, 0, 0.2);

  /* FONTS SIZE*/
  --size-46: 46px;
  --size-40: 40px;
  --size-32: 32px;
  --size-30: 30px;
  --size-24: 24px;
  --size-22: 22px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-12: 12px;
  --size-11: 11px;

  /* FONTS */
  --font-regular: 'Montserrat Regular', sans-serif;
  --font-bold: 'Montserrat Bold', sans-serif;
  --font-black: 'Montserrat Black', sans-serif;

  /* GRADIENT*/
  --yellow-gt: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ffe7a7 100%);
  --purple-gt: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 34.99%,
    #ffe1fd 100%
  );
  --orange-gt: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 37.79%,
    #ffe0ce 86.98%
  );
  --blue-gt: radial-gradient(50% 50% at 50% 50%, #ffffff 32.29%, #cadcf4 100%);
  --violet-gt: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    #ded9ff 100%
  );
  --green-gt: radial-gradient(50% 50% at 50% 50%, #ffffff 26.75%, #ccf1a6 100%);
}
