.footer {
  padding-top: 52px;
  padding-bottom: 57px;
  font-size: 17px;
  color: var(--white-txt);
  background-color: var(--black-secondary);
  &__container {
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
    }
    @include mq(desktop) {
      justify-content: center;
      gap: 66px;
    }
  }
  &__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(tablet) {
      align-items: start;
    }
    @include mq(desktop) {
      flex-direction: row;
      gap: 51px;
      align-items: center;
    }
  }

  &__languages {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    @include mq(tablet) {
      display: none;
    }
  }
  &__adress {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include mq(tablet) {
      flex-direction: row;
      gap: 40px;
    }
    @include mq(desktop) {
      margin-top: 0;
    }
  }
  &__list {
    margin-top: 45px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include mq(tablet) {
      margin-top: 0;
    }
    @include mq(desktop) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  &__link {
    display: block;
  }
  &__public-contract {
    display: flex;
    align-items: center;
    gap: 16px;
    .link {
      color: var(--white-opac-txt);
    }
  }
  &__imgs {
    display: flex;
    gap: 8px;
  }
  &__social {
    @include mq(desktop) {
      display: flex;
      align-items: center;
      gap: 70px;
    }
  }
}
