<section class="mncrft__awards">
  <div class="container">
    <h2>Чому батьки обирають для своїх дітей GoITeens?</h2>
    <p>
      GoITeens — це IT-академія, що надає повноцінну системну IT-освіту дітям
      від 7 до 17 років. Створена на базі міжнародної платформи GoIT Global,
      партнера проєктів IT Ukraine та IT Generation. Академія має бездоганну
      репутацію та всеукраїнське визнання.
    </p>
    <ul>
      <li>
        <img
          loading="lazy"
          alt="нагорода Best IT Education 2015"
          src="<?= get_template_directory_uri() ?>/assets/images/minecraft-7-12/award-1.png"
        />
        <h3>Best IT Education 2015</h3>
      </li>
      <li>
        <img
          loading="lazy"
          alt="Ukrainian IT Awards 2016"
          src="<?= get_template_directory_uri() ?>/assets/images/minecraft-7-12/award-2.png"
        />
        <h3>Ukrainian IT Awards 2016</h3>
      </li>
      <li>
        <img
          loading="lazy"
          alt="нагорода Українська народна премія 2018-2022"
          src="<?= get_template_directory_uri() ?>/assets/images/minecraft-7-12/award-3.png"
        />
        <h3>Українська народна премія 2018-2022</h3>
      </li>
    </ul>
  </div>
</section>
