<section class="best">
  <div class="container best__container">
    <ul class="list best__list-before">
      <li class="list-before__item">
        <p class="item__title">8 років</p>
        <p class="item__text">навчаємо дітей</p>
      </li>
      <li class="list-before__item">
        <p class="item__title">35 000+</p>
        <p class="item__text">дітей навчались у нас</p>
      </li>
      <li class="list-before__item">
        <p class="item__title">3 500+</p>
        <p class="item__text">проєктів створено</p>
      </li>
      <li class="list-before__item">
        <p class="item__title">9/10 учнів</p>
        <p class="item__text">покращили успішність</p>
      </li>
    </ul>
    <div class="best__content-box">
      <div class="best__text-box">
        <h2 class="best__title">Бажаєте для своєї дитини найкращого? </h2>
        <p class="best__text-bold">
          Дайте їй найцінніші знання 21-го сторіччя, які полегшать навчання в
          школі та допоможуть знайти свій шлях в дорослому житті.
        </p>
        <p class="best__text">
          На курсі «Minecraft» діти легко та весело засвоюють основи та базові
          принципи програмування, навчаються працювати з циклами, змінними та
          алгоритмами.
        </p>
      </div>
      <img
        class="best__img"
        src="./assets/images/best/section2_boy.png"
        alt="boy"
      />
    </div>
    <h3 class="list-end__title">
      Цікаве та зрозуміле програмування доступне всім дітям:
    </h3>
    <ul class="list best__list-end">
      <li class="list-end__item">
        <img
          class="item__img"
          src="./assets/images/best/section2_head.png"
          alt=""
        />
        <p class="item__text">З технічним складом розуму та гуманітаріям</p>
      </li>
      <li class="list-end__item">
        <img
          class="item__img"
          src="./assets/images/best/section2_kub.png"
          alt=""
        />
        <p class="item__text">Фанатам гри та тим, хто з нею ще не знайомий</p>
      </li>
      <li class="list-end__item">
        <img
          class="item__img"
          src="./assets/images/best/section2_laptop.png"
          alt=""
        />
        <p class="item__text">Вмілим користувачам комп’ютера та новачкам</p>
      </li>
    </ul>
  </div>
</section>
