<section class="free-lesson">
  <div class="container">
    <div class="free-lesson__container">
      <div class="free-lesson__title">
        <h4 class="free-lesson__headline">Чи сподобається програмування в Майнкрафт вашій дитині?</h4>
        <p class="free-lesson__subtitle">Перевіримо на <strong>безоплатному уроці</strong></p>
      </div>
      <div class="free-lesson__info">
        <div class="free-lesson__format">
          <div class="free-lesson__meeting">
            <strong>Формат:</strong>
            <p>онлайн-зустріч в Google Meet</p>
          </div>
          <div class="free-lesson__length">
            <strong>Тривалість:</strong>
            <p>40-45 хв</p>
          </div>
          <button class="minecraft__btn free-lesson__btn--tablet">Записатись</button>
        </div>
        <div class="free-lesson__about">
          <ul class="free-lesson__list list">
            <li class="free-lesson__item">
              <strong>Що буде:</strong>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-test.png"
                   alt="list">
              <span>тестування здібностей</span>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-coding1.png"
                   alt="list">
              <span>практична робота</span>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-consultant-services.png"
                   alt="list">
              <span>консультація</span>
            </li>
          </ul>
          <ul class="free-lesson__list list">
            <li class="free-lesson__item">
              <strong>На занятті учень:</strong>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-dimensions.png"
                   alt="list">
              <span>познайомиться з Minecraft</span>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-computer.png"
                   alt="list">
              <span>створить перший 3D-об’єкт</span>
            </li>
            <li class="free-lesson__item">
              <img src="./assets/images/minecraft/section3-coding2.png"
                   alt="list">
              <span>спробує запрограмувати персонажа</span>
            </li>
          </ul>
        </div>
        <button class="minecraft__btn free-lesson__btn">Записатись</button>
      </div>
    </div>
  </div>
</section>