<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        Онлайн-курси програмування Minecraft для дітей від 7 до 12 років
      </h1>
      <p class="hero__text">
        Допомагаємо школярам полюбити навчання та програмування
      </p>

      <p class="hero__textAfter">Спробуйте перший урок БЕЗПЛАТНО</p>
      <button type="button" aria-label="login" class="hero__button">
        Зареєструватися
      </button>
      <picture>
        <source
          srcset="./assets/images/hero/hero-boy-tab.png"
          media="(min-width: 744px)"
          type="image/png"
        />

        <img
          class="hero__img"
          src="./assets/images/hero/hero-boy-mob.png"
          alt="hero-boy"
        />
      </picture>
      <!-- <img
        class="hero__img"
        src="./assets/images/hero/hero-boy.png"
        alt="boy"
      /> -->
    </div>
  </div>
</section>
