<section class="learn">
  <div class="container learn__container">
    <h4 class="learn__headline">Курс Minecraft — навчання програмуванню для дітей онлайн на якому дитина:</h4>
    <ul class="list learn__list">
      <li class="learn__item">
        Освоїть базові принципи програмування
      </li>
      <li class="learn__item">
        Отримає фундаментальні знання з математики, фізики та хімії
      </li>
      <li class="learn__item">
        Покращить рівень володіння рідною та англійською мовами
      </li>
      <li class="learn__item">
        Набуде базових інженерних навичок
      </li>
      <li class="learn__item">
        Розвине логічне мислення, просторову уяву та креативність
      </li>
      <li class="learn__item">
        Здобуде важливі соціальні навички
      </li>
    </ul>
  </div>
</section>