<section class="learning-happens">
  <div class="container learning-happens__container">
    <div class="minecraft__appeal learning-happens__blure">
      <p>Впевніться в якості навчальної програми особисто на <strong>безоплатному уроці</strong></p>
      <button class="minecraft__btn">Записатись</button>
    </div>
    <div class="learning-happens__info">
      <h5 class="learning-happens__headline">Як відбувається навчання?</h5>
      <ul class="list learning-happens__list">
        <li class="learning-happens__item">
          <p>
            <strong>Особистий кабінет</strong>
            З усіма навчальними матеріалами та записами уроків.
          </p>
        </li>
        <li class="learning-happens__item">
          <p>
            <strong>Цікаві ДЗ</strong>
            Діти виконують завдання з радістю та отримують зворотний зв’язок.
          </p>
        </li>
        <li class="learning-happens__item">
          <p>
            <strong>Онлайн формат</strong>
            Навчання з будь-якої точки України та світу. Зустрічі проходять в Google Meet.
          </p>
        </li>
        <li class="learning-happens__item">
          <p>
            <strong>Ком’юніті студентів</strong>
            Місце де діти спілкуються та знаходять друзів.
          </p>
        </li>
        <li class="learning-happens__item">
          <p>
            <strong>Ком’юніті студентів</strong>
            Невеликі групи, 10-12 дітей,де кожна дитина отримує максимум уваги.
          </p>
        </li>
        <li class="learning-happens__item">
          <p>
            <strong>Онлайн-підтримка</strong>
            Чат для батьків та регулярна звітність про успіхи дитини від куратора.
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>