<section class="minecraft">
  <div class="container minecraft__container">
    <div class="minecraft__appeal">
      <p>Дозвольте дитині спробувати себе в програмуванні на <strong>безоплатному уроці</strong></p>
      <button class="minecraft__btn">Записатись</button>
    </div>
    <div class="minecraft__about">
      <div class="minecraft__dating">
        <div class="minecraft__info">
          <h4 class="minecraft__dating-headline">Minecraft — ідеальний спосіб познайомитися з IT</h4>
          <div class="minecraft__dating-text">
            <p>
              «Minecraft:Education» — це офіційний освітній продукт від Microsoft, створений на базі
              гри Майнкрафт. Платформу використовують в освітніх програмах 115 країн світу.
            </p>
            <p>
              Майнкрафт знайомить дітей зі складним цифровим світом та технологіями через ігрове
              середовище.
            </p>
          </div>
        </div>
        <div class="minecraft__img">
          <img src="./assets/images/minecraft/section3_minecraft.png"
               alt="Картинка майнкрафт об'єкту" />
        </div>
      </div>
      <div class="minecraft__engaged">
        <div class="minecraft__dating">
          <div class="minecraft__info">
            <h4 class="minecraft__dating-headline">Чим діти займаються на уроках?</h4>
            <div class="minecraft__dating-text">
              <p>
                Діти створюють персонажів та навколишній світ, будують об’єкти та механізми із тривимірних кубиків.
              </p>
              <p>
                Школярі ведуть точні розрахунки, виконують задачі та використовують блочне програмування.
              </p>
            </div>
          </div>
          <div class="minecraft__img">
            <img src="./assets/images/minecraft/section3-laptop.png"
                 alt="Картинка лептопу" />
          </div>
        </div>
      </div>
</section>