<section class="mncrft__teachers">
  <div class="mncrft__container container">
    <div class="mncrft__teachers-wrapper">
      <div class="mncrft__teachers-wrap">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="mncrft__teachers-imgitem">
                <img loading="lazy"
                     alt="фото вчиталя"
                     src="./assets/images/img_teacher-1.png" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mncrft__teachers-imgitem">
                <img loading="lazy"
                     alt="фото вчиталя"
                     src="./assets/images/img_teacher-2.png" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="mncrft__teachers-imgitem">
                <img loading="lazy"
                     alt="фото вчиталя"
                     src="./assets/images/img_teacher-3.png" />
              </div>
            </div>
          </div>
          <div class="mncrft__teachers--pagination"></div>
        </div>

      </div>
      <div class="mncrft__teachers-textblock">
        <h2>Кваліфіковані викладачі GoITeеens</h2>
        <p>Викладачі допоможуть дитині швидко адаптуватися в ігровому просторі та легко засвоїти нові знання. </p>
        <p>Зі студентами працюють досвідчені викладачі — спеціалісти-практики та талановиті педагоги, що знаються на
          дитячій психології та вміють знайти підхід.</p>
      </div>
    </div>
  </div>
</section>