<section class="teens-helps">
  <div class="teens-helps__container container">
    <h2 class="teens-helps__title">
      GoITeens допомагає школярам здобути актуальні практичні знання
    </h2>
    <ul class="teens-helps__foto-list list">
      <li class="foto-list__item">
        <img
          class="item__img"
          src="./assets/images/helps/helps-boy1.png"
          alt="hero-boy"
        />
        <p class="item__text">Можливо, сьогодні ваша дитина…</p>
      </li>
      <li class="foto-list__item">
        <img
          class="item__img"
          src="./assets/images/helps/helps-boy2.png"
          alt="hero-boy"
        />
        <p class="item__text">Але за кілька місяців навчання…</p>
      </li>
    </ul>
    <div class="teens-helps__text-box">
      <ul class="list teens-helps__list">
        <li class="negative__item">
          <p>
            Цікавиться технологіями, ставить питання, але не знаходить
            кваліфікованих відповідей.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok"></use>
          </svg>
        </li>
        <li class="negative__item">
          <p>
            Не виявляє ентузіазму до шкільних предметів та виконує шкільні
            домашні завдання зі сльозами на очах.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok"></use>
          </svg>
        </li>
        <li class="negative__item">
          <p>
            Витрачає увесь вільний час на розваги в телефоні чи на комп’ютері.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok"></use>
          </svg>
        </li>
        <li class="negative__item">
          <p>
            Майже не спілкується з однолітками, часто замикається в собі,
            малоактивна.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok"></use>
          </svg>
        </li>
      </ul>
      <ul class="list teens-helps__list">
        <li class="positive__item">
          <p>
            Дитина завзято вивчає програмування, розвиває свої навички та,
            втілює найсміливіші ідеї в ігровому світі.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok-color"></use>
          </svg>
        </li>
        <li class="positive__item">
          <p>
            Розв’язує математичні та інженерні задачі легко та із задоволенням.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok-color"></use>
          </svg>
        </li>
        <li class="positive__item">
          <p>
            Створює круті об’єкти та механізми в Майнкрафті, паралельно здобуває
            знання з точних наук.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok-color"></use>
          </svg>
        </li>
        <li class="positive__item">
          <p>
            Розвиває комунікативні навички, знаходить однодумців, проявляє
            лідерські якості.
          </p>
          <svg>
            <use href="./assets/images/sprite.svg#icon-svg-ok-color"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
